<ion-app>
  <div class="ion-page" main>
    <ion-toolbar>
      <ion-title> Serviços ©</ion-title>
    </ion-toolbar>
    <ion-card class="welcome-card">
      <img src="/assets/logo.svg" alt="" />
    </ion-card>

    <ion-content class="ion-padding">
      <ion-button class="cor" expand="block" routerLink="/tabs/tab2">Massagem</ion-button>
      <ion-button class="cor" expand="block" routerLink="/tabs/tab3">Reflexologia</ion-button>
      <ion-button class="cor" expand="block" routerLink="/tabs/tab4">Laserterapia</ion-button>
      <ion-button class="cor" expand="block" routerLink="/tabs/tab5">Manicure</ion-button>
      <ion-button class="cor" expand="block" routerLink="/tabs/tab6">Pedicure</ion-button>
      <ion-button class="cor" expand="block" routerLink="/tabs/tab7">Depilação</ion-button>
      <br>
    </ion-content>
  </div>
</ion-app>
<ion-item>
    <img src="/assets/voltar.png" routerLink="/tabs/tab1"/>
</ion-item>