<ion-header>
    <ion-toolbar>
      <ion-title>Quem somos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="texto">
    <p></p>
  Clínica de Estética e Podologia voltada para a Saúde e Bem Estar de seus clientes.
  <p></p>
  Há 25 anos localizada no mesmo endereço, com profissionais altamente qualificados, materiais esterelizados em autoclave.
  <p></p>
  Visando otimizar seu tempo, atendemos simultaneamente até 3 profissionais, com hora marcada.
  <p></p>
  Nosso horário de atendimento é de segunda a sexta-feira das 07:30 às 20:00hrs.
  
  </div> 
  
  
  <ion-card>
    <img class="logo1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgpwrGgmLxfATH1qEGDr2VR9AV8Vzg3WzPjOmw5CbHl91flT3a">
  </ion-card>
  
  <ion-item lines="none">
    <ion-button type="reset" color="danger" routerLink="/tabs/tab1">Inicio</ion-button> 
  </ion-item>
  
  <ion-content>
  
  </ion-content>
  
  
  
  
  