<ion-header>
  <ion-toolbar>
    <ion-title>
      Pé de Rainha © <img class="icon" src="/assets/cadastro.png" routerLink="/tabs/cadastro">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/logoof.svg" alt="" />
  </ion-card>
  <br>
    <ion-grid>
        <ion-row>    
          <ion-col>
            <div>
              <img class="logo6" src="/assets/13.png" routerLink="/tabs/contato">
              <ion-title>Contato</ion-title>
            </div>
          </ion-col>
              <br>

              <ion-col>
              <div>
                <img class="logo6" src="/assets/agenda.png" routerLink="/tabs/agendamento">
                <ion-title>Agendamento</ion-title>
              </div>
              </ion-col>
              <br>
              <br>

              <ion-col>
              <div>
                <img class="logo6" src="/assets/servicos.png" routerLink="/tabs/servicos">
                <ion-title>Serviços</ion-title>
              </div>              
            </ion-col>
            <br>
            <br>

            <ion-col>
              <div>
                <img class="logo6" src="/assets/quemsomos.png" routerLink="/tabs/quemsomos">
                <ion-title>Quem Somos</ion-title>
              </div>   
              </ion-col>    

        </ion-row>
      </ion-grid>
      <ion-text>  
        <br>
        <br>
          <div class="row" style="height: 70px; font-family: Lucida Calligraphy; font-size: 1px;">
            <div class="col col-center">
              <h6 class="gray" align="center">Rua Pé de Rainha, 999
                <br>
                Bonsucesso, Rio de Janeiro
                <br>
                CEP 99999-999
                <br>
                Tel: (21)9999-9999
              </h6>
            </div>
          </div>
      </ion-text>
</ion-content>
