.logo1{
  margin-left: 25px;
}
.logo2{
  margin-left: 43px;
}
.logo3{
  margin-left: 10px;
}
.logo6{
  margin-left: 40px;
}
.fonte{
  
  font-size: 5
}
ion-content{
 --ion-background-color: #CEECF5;
}
ion-header{
  --ion-background-color: #CEECF5;
}
.icon{
  margin-left: 120px;
}
