<ion-item>
    <img src="/assets/voltar.png" routerLink="/tabs/servicos">
  </ion-item>
  
  <ion-card>
    <img class="logo1" src="https://i.imgur.com/o13EcPN.png">
  </ion-card>
  <ion-card>
    <ion-card-content class="texto">
      É a prática de aplicar força ou vibração sobre tecidos macios do corpo, incluindo músculos, tecidos conectivos, tendões,
      ligamentos e articulações, para estimular a circulação sanguínea, a mobilidade, a elasticidade ou alívio de determinadas
      dores corporais. Por ser uma forma de terapia, também pode ser conhecida como massoterapia. Pode ser aplicada a partes
      do corpo ou continuamente a todo o corpo, para aliviar traumas físicos.
    </ion-card-content>
  </ion-card>